/*Header*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
:root {
    --mainback: #00b8a9;
    --mainchar: white;
  }

*{
    font-family: 'Lato', sans-serif;
}
body{
    background-color:#f4f5f5 !important;
}
a{
    text-decoration: none;
}
p{
    margin-bottom: 0 !important;
}
/*Specific*/

header{
    background-color: #fff;
    box-shadow: 0 0 1px black;
}
header .logo, footer .logo{
    max-width: 70%;
    padding:.5em;
}
header a{
    color: var(--mainback) !important;
}
header a:active{
    background: var(--mainback);
    color: white;
}
.barname h1{
    font-size: 16px;
    font-weight: 700;
    padding: .5em;
}
.visual-header{
    padding:.2em;
}
.visual-header h1{
    font-size:1rem;
    padding:.5em;
    margin:0;
    border-bottom:1px solid #f8f8f8;
}
.visual-cat{
    padding:.2em;
}
.visual-menu-sections{
    padding: .5em;
}
.visual-menu-sections-item{
    padding:0 1em;
}

/*Start menu content*/

.menu-dishes-title{
    font-size: 1.2em;
    font-weight: 700;
    padding:.5em;
}

.menu-dishes-block{
    background: white;
    box-shadow: 0 0 1px black;
}

.menu-dishes-item-block{
    border-bottom:1px solid #bbbbbb;
    padding:.3em 0;
}

.menu-dishes-item-title{
    font-size: 1.2em;
    padding-bottom:.2em;
}

.menu-dishes-item-description{
    font-size: 1em;
    color:#7d7d7d;
    padding-bottom:.2em;
}
.product-img .img-responsive{
    width:100%;
    border-radius: 5px;
}

/*Allergens*/

.allergens img{
    display: inline-block;
    width: 20px;
}

/*Price*/

.price{
    text-align: left;
}

/*Footer*/
footer{
    background: white; 
    box-shadow: 0 0 1px black;
}
footer a{
    color: #00b8a9;
}

#sticker{
    background-color: white;
    z-index: 9999 !important;
    box-shadow: 0 0 1px black   ;
}


